@charset "UTF-8";
/*ESTILOS DE CONTACTO*/
.mapa {
  display: flex;
  justify-content: center;
  margin: 30px; }

.contact-form {
  background-color: #42451e;
  width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 4px; }
  .contact-form h4 {
    color: white;
    text-align: center; }
  .contact-form .controls {
    width: 100%;
    background-color: #ffd900;
    border-radius: 4px;
    margin-bottom: 20px; }
  .contact-form .controls1 {
    width: 100%;
    background-color: #ffd900;
    border-radius: 4px;
    font-size: 30px; }
  .contact-form .botons {
    border: none;
    width: 100%;
    padding: 5px 0px;
    background-color: #ffd900; }
  .contact-form footer {
    margin: 10px; }
    .contact-form footer .logoIgFooter {
      font-size: 3rem; }
    .contact-form footer .logoWppFooter {
      font-size: 3rem; }
    .contact-form footer h3 {
      text-align: end;
      font-size: 0.6rem;
      color: #D7A35F; }
    .contact-form footer h4 {
      text-align: end;
      font-size: 0.5rem;
      color: #D7A35F; }

/*ESTILOS DE NOSOTROS*/
.contenedorNosotros {
  display: flex; }
  .contenedorNosotros .boxNosotros img {
    display: none; }
  .contenedorNosotros .textoNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .contenedorNosotros p {
    display: flex;
    color: whitesmoke;
    font-size: 2rem;
    text-align: center; }
  .contenedorNosotros h1 {
    color: #D7A35F;
    text-align: center;
    font-size: 3rem; }

footer {
  margin: 10px; }
  footer .logoIgFooter {
    font-size: 3rem; }
  footer .logoWppFooter {
    font-size: 3rem; }
  footer h3 {
    text-align: end;
    font-size: 0.6rem;
    color: #D7A35F; }
  footer h4 {
    text-align: end;
    font-size: 0.5rem;
    color: #D7A35F; }

@media screen and (min-width: 1000px) {
  .contenedorNosotros {
    display: flex; }
    .contenedorNosotros .boxNosotros img {
      border-width: 0.8em;
      border-style: solid none solid solid;
      border-color: #ffd900;
      width: 700px;
      height: 700px;
      display: block; } }

/*ESTILOS DE REMERAS*/
.containerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .containerBox .boxDestacados {
    text-align: center; }
  .containerBox .boxDestacados img {
    width: 9rem;
    height: 12rem; }
  .containerBox .textBox {
    border: 2px solid black;
    width: 9rem;
    height: 12rem;
    background-color: rosybrown;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .containerBox input {
    background-color: #ffd900; }
  .containerBox option {
    color: #ffd900;
    background-color: black; }
  .containerBox select {
    color: #ffd900;
    background-color: black; }

.containerBoxin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .containerBoxin .boxDestacadoos {
    text-align: center; }
  .containerBoxin .boxDestacadoos img {
    width: 9rem;
    height: 12rem; }
  .containerBoxin .textBox {
    border: 2px solid black;
    width: 9rem;
    height: 12rem;
    background-color: rosybrown;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .containerBoxin input {
    background-color: #ffd900; }
  .containerBoxin option {
    color: #ffd900;
    background-color: black; }
  .containerBoxin select {
    color: #ffd900;
    background-color: black; }

@media screen and (min-width: 1024px) {
  .container {
    height: 200px; }
  .containerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .containerBox .boxDestacados {
      text-align: center; }
    .containerBox .boxDestacados img {
      width: 15rem;
      height: 12rem; }
    .containerBox .textBox {
      border: 2px solid black;
      width: 15rem;
      height: 12rem;
      background-color: rosybrown;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
    .containerBox input {
      background-color: #ffd900; }
    .containerBox option {
      color: #ffd900;
      background-color: black; }
    .containerBox select {
      color: #ffd900;
      background-color: black; }
  .containerBoxin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .containerBoxin .boxDestacadoos {
      text-align: center;
      margin: 60px; }
    .containerBoxin .boxDestacadoos img {
      width: 15rem;
      height: 12rem; }
    .containerBoxin .textBox {
      border: 2px solid black;
      width: 15rem;
      height: 12rem;
      background-color: rosybrown;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
    .containerBoxin input {
      background-color: #ffd900; }
    .containerBoxin option {
      color: #ffd900;
      background-color: black; }
    .containerBoxin select {
      color: #ffd900;
      background-color: black; } }

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILOS DEL BODY*/
body {
  background-color: black; }

/*ESTILOS DEL NAV*/
/*ESTILOS DEL MAIN*/
.contact-ig-wpp {
  width: 100%;
  display: flex;
  justify-content: center; }
  .contact-ig-wpp .ig {
    width: 3rem; }
  .contact-ig-wpp .wpp {
    width: 3rem; }
  .contact-ig-wpp .wpp:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9rem); }
  .contact-ig-wpp .ig:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9rem); }

.navbar-toggler {
  background: #D7A35F; }

/*ESTILOS DEL CARROUSEL Y MAIN*/
.container-fluid .carousel-caption {
  margin: auto;
  color: #ffd900; }
  .container-fluid .carousel-caption .textoC {
    color: black;
    font-size: 1.5rem;
    font-family: 'Staatliches', cursive;
    text-shadow: 0.1em 0.1em 0.1em white; }
  .container-fluid .carousel-caption .parrafoC {
    font-size: 1.2rem;
    color: black;
    font-family: 'Staatliches', cursive;
    text-shadow: 0.1em 0.1em 0.1em white; }

.container-fluid .imgcarru img {
  height: 800px; }

.lineas .lineaH1 {
  margin-top: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  white-space: nowrap;
  border-bottom: #ffd900 3px solid; }
  .lineas .lineaH1 .h1 {
    color: #ffd900;
    text-align: center;
    font-size: 1.2rem; }

.lineas .lineaH2 {
  text-align: center;
  margin: auto; }

.lineas i {
  color: white;
  font-size: 30px; }

.lineas h2 {
  font-size: 2.4rem;
  color: #ffd900; }

.lineas p {
  color: #D7A35F;
  text-align: center;
  font-size: 1.3rem; }

/* ESTILOS NEW-IN*/
.newIn {
  box-shadow: 6px 12px 20px 20px gold;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .newIn .boxIndex img {
    margin: 5px;
    width: 150px; }

.textOtoñoInvierno {
  color: white;
  text-align: center;
  margin-top: 15px; }

.containerImgRemeras {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: relative; }
  .containerImgRemeras .boxImgRemeras {
    margin-top: 2rem; }
    .containerImgRemeras .boxImgRemeras img {
      margin: 20px;
      width: 250px;
      height: 350px;
      box-shadow: 5px 8px 12px #ffd900; }
    .containerImgRemeras .boxImgRemeras img:hover {
      transform: scale(1.1);
      box-shadow: 10px 16px 24px #ffd900; }
  .containerImgRemeras .textoRemeras {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .containerImgRemeras .textoRemeras p {
      font-size: 2rem;
      color: black;
      font-family: 'Staatliches', cursive;
      text-shadow: 2px 4px 6px gold; }
      .containerImgRemeras .textoRemeras p a {
        text-decoration: none; }

/*ESTILOS DEL FOOTER*/
footer {
  margin: 10px; }
  footer .logoIgFooter {
    font-size: 3rem;
    color: #ffd900;
    padding-top: 60px; }
  footer .logoWppFooter {
    font-size: 3rem;
    color: #ffd900;
    padding-top: 60px; }
  footer .logoWppFooter:hover {
    color: white; }
  footer .logoIgFooter:hover {
    color: white; }
  footer h3 {
    text-align: end;
    font-size: 0.6rem;
    color: #D7A35F; }
  footer h4 {
    text-align: end;
    font-size: 0.5rem;
    color: #D7A35F; }

@media screen and (min-width: 576px) {
  .container-fluid .carousel-caption {
    margin: auto;
    color: #ffd900; }
    .container-fluid .carousel-caption .textoC {
      font-size: 1.8rem;
      font-family: 'Staatliches', cursive; }
    .container-fluid .carousel-caption .parrafoC {
      font-size: 1.2rem;
      font-family: 'Staatliches', cursive; }
  .lineas .lineaH1 {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-left: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: #ffd900 3px solid;
    border-bottom: none; }
    .lineas .lineaH1 .h1 {
      color: #ffd900;
      text-align: center;
      font-size: 1rem; }
  .lineas .lineaH2 {
    text-align: center;
    margin: auto; }
  .lineas i {
    color: white;
    font-size: 25px; }
  .lineas h2 {
    font-size: 2rem;
    color: #ffd900; }
  .lineas p {
    color: #D7A35F;
    text-align: center;
    font-size: 1rem; }
  .otoñoInvierno .boxIndex img {
    width: 150px; }
  .textOtoñoInvierno {
    color: white;
    text-align: center;
    margin-top: 15px; } }

@media screen and (min-width: 769px) {
  .container-fluid .carousel-caption {
    margin: auto;
    color: #ffd900; }
    .container-fluid .carousel-caption .textoC {
      font-size: 1.8rem;
      font-family: 'Staatliches', cursive; }
    .container-fluid .carousel-caption .parrafoC {
      font-size: 1.2rem;
      font-family: 'Staatliches', cursive; }
  .lineas .lineaH1 {
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    padding-left: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-left: #ffd900 3px solid;
    border-bottom: none; }
    .lineas .lineaH1 .h1 {
      color: #ffd900;
      text-align: center;
      font-size: 1.2rem; }
  .lineas .lineaH2 {
    text-align: center;
    margin: auto; }
  .lineas i {
    color: white;
    font-size: 30px; }
  .lineas h2 {
    font-size: 2.4rem;
    color: #ffd900; }
  .lineas p {
    color: #D7A35F;
    text-align: center;
    font-size: 1.3rem; }
  .otoñoInvierno {
    border: 5px solid gold; }
    .otoñoInvierno .boxIndex {
      margin-top: 20px; }
      .otoñoInvierno .boxIndex img {
        width: 180px;
        margin: 30px; }
  .textOtoñoInvierno {
    color: white;
    text-align: center;
    margin-top: 15px; } }

@media screen and (min-width: 1024px) {
  .container-fluid .carousel-caption {
    margin: auto;
    color: #ffd900; }
    .container-fluid .carousel-caption .textoC {
      color: black;
      font-size: 1.5rem;
      font-family: 'Staatliches', cursive;
      text-shadow: 0.1em 0.1em 0.1em white; }
    .container-fluid .carousel-caption .parrafoC {
      font-size: 1.2rem;
      color: black;
      font-family: 'Staatliches', cursive;
      text-shadow: 0.1em 0.1em 0.1em white; }
  .container-fluid .imgcarru img {
    height: 750px;
    opacity: 0.9;
    filter: alpha(opacity=40); } }
