/*ESTILOS DE CONTACTO*/
.mapa {
  display: flex;
  justify-content: center;
  margin: 30px; }

.contact-form {
  background-color: #42451e;
  width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 4px; }
  .contact-form h4 {
    color: white;
    text-align: center; }
  .contact-form .controls {
    width: 100%;
    background-color: #ffd900;
    border-radius: 4px;
    margin-bottom: 20px; }
  .contact-form .controls1 {
    width: 100%;
    background-color: #ffd900;
    border-radius: 4px;
    font-size: 30px; }
  .contact-form .botons {
    border: none;
    width: 100%;
    padding: 5px 0px;
    background-color: #ffd900; }

/*ESTILOS DE NOSOTROS*/
p {
  color: whitesmoke;
  text-align: center; }

h1 {
  margin-top: 100px;
  color: #D7A35F;
  text-align: center; }

footer {
  margin-top: 260px; }

/*ESTILOS DE REMERAS*/
.containerBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .containerBox .boxDestacados {
    text-align: center; }
  .containerBox .boxDestacados img {
    width: 9rem;
    height: 12rem; }
  .containerBox .textBox {
    border: 2px solid black;
    width: 9rem;
    height: 12rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .containerBox input {
    background-color: #ffd900; }
  .containerBox option {
    color: #ffd900;
    background-color: black; }
  .containerBox select {
    color: #ffd900;
    background-color: black; }

.containerBoxin {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .containerBoxin .boxDestacadoos {
    text-align: center; }
  .containerBoxin .boxDestacadoos img {
    width: 9rem;
    height: 12rem; }
  .containerBoxin .textBox {
    border: 2px solid black;
    width: 9rem;
    height: 12rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center; }
  .containerBoxin input {
    background-color: #ffd900; }
  .containerBoxin option {
    color: #ffd900;
    background-color: black; }
  .containerBoxin select {
    color: #ffd900;
    background-color: black; }

/*MEDIA QUERY 1024*/
/*ESTILOS DE REMERAS*/
@media screen and (min-width: 1024px) {
  .container-fluid {
    height: 200px; }
  .containerBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .containerBox .boxDestacados {
      text-align: center; }
    .containerBox .boxDestacados img {
      width: 15rem;
      height: 12rem; }
    .containerBox .textBox {
      border: 2px solid black;
      width: 15rem;
      height: 12rem;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
    .containerBox input {
      background-color: #ffd900; }
    .containerBox option {
      color: #ffd900;
      background-color: black; }
    .containerBox select {
      color: #ffd900;
      background-color: black; }
  .containerBoxin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .containerBoxin .boxDestacadoos {
      text-align: center;
      margin: 60px; }
    .containerBoxin .boxDestacadoos img {
      width: 15rem;
      height: 12rem; }
    .containerBoxin .textBox {
      border: 2px solid black;
      width: 15rem;
      height: 12rem;
      background-color: black;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center; }
    .containerBoxin input {
      background-color: #ffd900; }
    .containerBoxin option {
      color: #ffd900;
      background-color: black; }
    .containerBoxin select {
      color: #ffd900;
      background-color: black; } }

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILOS DEL BODY*/
body {
  background-color: #212529; }

/*ESTILOS DEL NAV*/
.nav-link {
  margin: 10px; }

.nav-link:hover {
  border-top: #D7A35F solid 1px;
  border-bottom: #D7A35F solid 1px; }

/*ESTILOS DEL MAIN*/
.contact-ig-wpp {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212529; }
  .contact-ig-wpp .ig {
    width: 3rem; }
  .contact-ig-wpp .wpp {
    width: 3rem; }
  .contact-ig-wpp .wpp:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9rem); }
  .contact-ig-wpp .ig:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9rem); }

.navbar-toggler {
  background: #D7A35F; }

/*ESTILOS DEL CARROUSEL Y MAIN*/
.container-fluid {
  height: 300px; }
  .container-fluid .carousel-caption {
    top: 40%;
    color: #ffd900; }
    .container-fluid .carousel-caption .textoC {
      font-size: 1.6rem;
      font-family: 'Dancing Script', cursive; }
    .container-fluid .carousel-caption .parrafoC {
      font-size: 1.3rem;
      color: #D7A35F;
      font-family: 'Dancing Script', cursive; }

.carousel-inner {
  background-color: red; }

.xs {
  background-color: red;
  position: relative; }
  .xs .h1 {
    color: white;
    text-align: start;
    position: absolute;
    font-size: 2rem;
    top: 50%;
    right: 72%;
    transform: rotate(270deg); }

/*ESTILOS DEL FOOTER*/
footer {
  width: 100%;
  padding: 20px background-color #212529; }
  footer h3 {
    text-align: center;
    font-size: 0.6rem;
    color: #D7A35F; }
  footer h4 {
    text-align: center;
    font-size: 0.5rem;
    color: #D7A35F; }
