/*ESTILOS DE CONTACTO*/
.mapa {
  display: flex;
  justify-content: center;
  margin: 30px; }

.contact-form {
  margin-top: 60px;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.1fr;
  grid-template-areas: "h4 h4 h4 h4 h4" "n n n n n" "e e e e e" "text text text text text" "btn btn btn btn btn"; }
  .contact-form h4 {
    grid-area: h4;
    font-size: 30px;
    color: #9BCB3C;
    display: flex;
    justify-content: center; }
  .contact-form .text-nombre {
    grid-area: n;
    font-size: 25px; }
  .contact-form .text-email {
    grid-area: e;
    font-size: 25px; }
  .contact-form .text-text {
    grid-area: text;
    font-size: 30.2px; }
  .contact-form .btn-submit {
    grid-area: btn;
    font-size: 25px; }

/*ESTILOS DE NOSOTROS*/
p {
  color: whitesmoke;
  text-align: center; }

h1 {
  margin-top: 100px;
  color: #9BCB3C;
  text-align: center; }

.img-p {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .img-p img {
    width: 180px;
    margin: 4px; }

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*ESTILOS DEL BODY*/
body {
  background-color: #212529; }

/*ESTILOS DEL NAV*/
.nav-link {
  margin: 10px; }

.nav-link:hover {
  border-top: #9BCB3C solid 1px;
  border-bottom: #9BCB3C solid 1px; }

/*ESTILOS DEL MAIN*/
.imagen-padre {
  object-fit: cover; }
  .imagen-padre .foto-index {
    width: 100%;
    height: 81vh; }

.contact-ig-wpp {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212529; }
  .contact-ig-wpp .ig {
    width: 3rem; }
  .contact-ig-wpp .wpp {
    width: 3rem; }
  .contact-ig-wpp .wpp:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9rem); }
  .contact-ig-wpp .ig:hover {
    -webkit-transform: scale(0.9);
    transform: scale(0.9rem); }

.navbar-toggler {
  background: #9BCB3C; }

/*ESTILOS DEL FOOTER*/
footer {
  width: 100%;
  padding: 20px;
  background-color: #212529; }
  footer h3 {
    text-align: center;
    font-size: 0.6rem;
    color: #9BCB3C; }
  footer h4 {
    text-align: center;
    font-size: 0.5rem;
    color: #9BCB3C; }
