@import "base/variables";

/*ESTILOS DE CONTACTO*/

.mapa{
    display: flex;
    justify-content: center;
    margin: 30px;
    
}
.contact-form{
    background-color: rgb(66, 69, 30);
    width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 4px;
    h4{
        color: white;
        text-align: center;
    }
    .controls{
        width: 100%;
        background-color: $color-secundario;
        border-radius: 4px;
        margin-bottom: 20px;
    }
    .controls1{
        width: 100%;
        background-color: $color-secundario;
        border-radius: 4px;
        font-size: 30px;
    }
    .botons{
        border: none;
        width: 100%;
        padding: 5px 0px;
        background-color: $color-secundario;
    }
}


