//ESTILOS DE REMERA MEDIA QUERY 1024
/*MEDIA QUERY 1024*/
@media screen and (min-width:1024px) {
    .containerBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .boxDestacados{
            text-align: center;
        }
        .boxDestacados img{
            width: 15rem;
            height: 12rem;
        }
        .textBox{
            border: 2px solid black;
            width: 15rem;
            height: 12rem;
            background-color: black;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        input{
            background-color: rgb(255, 217, 0);
        }
        option{
            color: rgb(255, 217, 0);
            background-color: black;
        }
        select{
            color: rgb(255, 217, 0);
            background-color: black;
        }
    }
    .containerBoxin{
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        .boxDestacadoos{
            text-align: center;
            margin: 60px;
        }
        .boxDestacadoos img{
            width: 15rem;
            height: 12rem;
        }
        .textBox{
            border: 2px solid black;
            width: 15rem;
            height: 12rem;
            background-color: black;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }
        input{
            background-color: $color-secundario;
        }
        option{
            color: $color-secundario;
            background-color: black;
        }
        select{
            color: $color-secundario;
            background-color: black;
        }
    }
}