@import "base/variables";


/*ESTILOS DE NOSOTROS*/

p{
    color: whitesmoke;
    text-align: center;
}
h1{
    margin-top: ($medida-principal - 100);
    color: $color-primario;
    text-align: center;
}
footer{
    margin-top: 260px;
}
