@import "base/variables";
@import "base/mixin";


/*ESTILOS DE REMERAS*/

.containerBox{
    @include flexbox;
    .boxDestacados{
        text-align: center;
    }
    .boxDestacados img{
        width: 9rem;
        height: 12rem;
    }
    .textBox{
        border: 2px solid black;
        width: 9rem;
        height: 12rem;
        background-color: rosybrown;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    input{
        background-color: rgb(255, 217, 0);
    }
    option{
        color: rgb(255, 217, 0);
        background-color: black;
    }
    select{
        color: rgb(255, 217, 0);
        background-color: black;
    }
}
.containerBoxin{
    @include flexbox;
    .boxDestacadoos{
        text-align: center;
    }
    .boxDestacadoos img{
        width: 9rem;
        height: 12rem;
    }
    .textBox{
        border: 2px solid black;
        width: 9rem;
        height: 12rem;
        background-color: rosybrown;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    input{
        background-color: $color-secundario;
    }
    option{
        color: $color-secundario;
        background-color: black;
    }
    select{
        color: $color-secundario;
        background-color: black;
    }
}


@media screen and (min-width:1024px) {
    .container {
        height: $medida-principal;
    }

    .containerBox {
        @include flexbox;

        .boxDestacados {
            text-align: center;
        }

        .boxDestacados img {
            width: 15rem;
            height: 12rem;
        }

        .textBox {
            border: 2px solid black;
            width: 15rem;
            height: 12rem;
            background-color: rosybrown;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        input {
            background-color: rgb(255, 217, 0);
        }

        option {
            color: rgb(255, 217, 0);
            background-color: black;
        }

        select {
            color: rgb(255, 217, 0);
            background-color: black;
        }
    }

    .containerBoxin {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .boxDestacadoos {
            text-align: center;
            margin: 60px;
        }

        .boxDestacadoos img {
            width: 15rem;
            height: 12rem;
        }

        .textBox {
            border: 2px solid black;
            width: 15rem;
            height: 12rem;
            background-color: rosybrown;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

        input {
            background-color: $color-secundario;
        }

        option {
            color: $color-secundario;
            background-color: black;
        }

        select {
            color: $color-secundario;
            background-color: black;
        }
    }
}