//VARIABLES DE PAGINAS//
@import "contacto";
@import "base/variables";
@import "nosotros";
@import "remeras";
@import "base/mixin";

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*ESTILOS DEL BODY*/
body {
    background-color: black;
}

/*ESTILOS DEL NAV*/
header{
    
}

/*ESTILOS DEL MAIN*/
.contact-ig-wpp {
    width: 100%;
    display: flex;
    justify-content: center;

    .ig {
        width: 3rem;
    }

    .wpp {
        width: 3rem;
    }

    .wpp:hover {
        -webkit-transform: scale(0.9);
        transform: scale(0.9rem);
    }

    .ig:hover {
        -webkit-transform: scale(0.9);
        transform: scale(0.9rem);
    }
}

.navbar-toggler {
    background: $color-primario;
}

/*ESTILOS DEL CARROUSEL Y MAIN*/
.container-fluid {
    .carousel-caption {
        margin: auto;
        color: $color-secundario;

        .textoC {
            color: black;
            font-size: 1.5rem;
            font-family: 'Staatliches', cursive;
            text-shadow: 0.1em 0.1em 0.1em white;
        }

        .parrafoC {
            font-size: 1.2rem;
            color: black;
            font-family: 'Staatliches', cursive;
            text-shadow: 0.1em 0.1em 0.1em white;
        }
    }
    .imgcarru{
        img{
            height: 800px;
            // opacity:0.9;
            // filter:alpha(opacity=40);
        }
    }
}
.lineas {
    .lineaH1 {
        margin-top: 50px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        white-space: nowrap;
        border-bottom: #ffd900 3px solid;
        
        .h1 {
            color: $color-secundario;
            text-align: center;
            // position: absolute;
            font-size: 1.2rem;
            // transform: rotate(270deg);
        }
    }
    
    
    .lineaH2 {
        text-align: center;
        margin: auto;
    }
    
    i {
        // position: absolute;
        // top: 32%;
        // left: 12%;
        color: white;
        font-size: 30px;
    }
    
    // .lineaV {
        //     height: 2px;
        //     width: 200px;
        //     background-color: $color-secundario;
        //     transform: rotate(270deg);
        //     // position: absolute;
        //     top: 48%;
        //     left: 10%;
        // }
        
        h2 {
            // position: absolute;
            font-size: 2.4rem;
            color: $color-secundario;
        }
        
        p {
            color: $color-primario;
            // position: absolute;
            text-align: center;
            font-size: 1.3rem;
        }
    }

    /* ESTILOS NEW-IN*/

    .newIn{
        box-shadow: 6px 12px 20px 20px gold;
        text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .boxIndex{
        img{
            margin: 5px;
            width: 150px;
        }
    }
}
.textOtoñoInvierno{
    color: white;
    text-align: center;
    margin-top: 15px;
}
.containerImgRemeras{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    position: relative;
    .boxImgRemeras{
        margin-top: 2rem;
        img{
            margin: 20px;
            width: 250px;
            height: 350px;
            box-shadow: 5px 8px 12px $color-secundario;
        }
        img:hover{
            transform: scale(1.1);
            box-shadow: 10px 16px 24px $color-secundario;
        }
    }
    .textoRemeras{
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        p{
            font-size: 2rem;
            color: black;
            font-family: 'Staatliches', cursive;
            text-shadow: 2px 4px 6px gold;
            a{
                text-decoration: none;
            }
        }
    }
}

// /* ESTILOS PRIMAVERA VERANO*/

// .veranoPrimavera{
//         border: 5px solid #226F74;
//         text-align: center;
//         display: flex;
//         justify-content: center;
//         flex-wrap: wrap;
//         .boxingIndex{
//             img{
//                 width: 300px;
//                 margin: 5px;
//             }
//         }
//     }
//     .textoRebajas{
//         color: white;
//         text-align: center;
//         margin-top: 15px;
//     }
/*ESTILOS DEL FOOTER*/
footer {
    margin: 10px;
    .logoIgFooter{
        font-size: 3rem;
    }
    .logoWppFooter{
        font-size: 3rem;
    }
    h3 {
        text-align: end;
        font-size: 0.6rem;
        color: $color-primario;
    }

    h4 {
        text-align: end;
        font-size: 0.5rem;
        color: $color-primario;
    }
}


@media screen and (min-width:576px) {
    .container-fluid {
        .carousel-caption {
            margin: auto;
            color: $color-secundario;
    
            .textoC {
                font-size: 1.8rem;
                font-family: 'Staatliches', cursive;
            }
    
            .parrafoC {
                font-size: 1.2rem;
                font-family: 'Staatliches', cursive;
            }
        }
    }

    .lineas {
        .lineaH1 {
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            padding-left: 0px;
            padding-top: 40px;
            padding-bottom: 40px;
            border-left: #ffd900 3px solid;
            border-bottom: none;
            .h1 {
                color: $color-secundario;
                text-align: center;
                font-size: 1rem;
            }
        }
    
    
        .lineaH2 {
            text-align: center;
            margin: auto;
        }
    
        i {
            color: white;
            font-size: 25px;
        }
    
        h2 {
            font-size: 2rem;
            color: $color-secundario;
        }
    
        p {
            color: $color-primario;
            text-align: center;
            font-size: 1rem;
        }
    }
    .otoñoInvierno{
        .boxIndex{
            img{
                width: 150px;
            }
        }
    }
    .textOtoñoInvierno{
        color: white;
        text-align: center;
        margin-top: 15px;
    }
}


@media screen and (min-width:769px) {
    .container-fluid {
        .carousel-caption {
            margin: auto;
            color: $color-secundario;
    
            .textoC {
                font-size: 1.8rem;
                font-family: 'Staatliches', cursive;
            }
    
            .parrafoC {
                font-size: 1.2rem;
                font-family: 'Staatliches', cursive;
            }
        }
    }

    .lineas {
        .lineaH1 {
            display: flex;
            flex-wrap: nowrap;
            white-space: nowrap;
            writing-mode: vertical-rl;
            transform: rotate(180deg);
            padding-left: 40px;
            padding-top: 40px;
            padding-bottom: 40px;
            border-left: #ffd900 3px solid;
            border-bottom: none;
            .h1 {
                color: $color-secundario;
                text-align: center;
                font-size: 1.2rem;
            }
        }
    
    
        .lineaH2 {
            text-align: center;
            margin: auto;
        }
    
        i {
            color: white;
            font-size: 30px;
        }
    
        h2 {
            font-size: 2.4rem;
            color: $color-secundario;
        }
    
        p {
            color: $color-primario;
            text-align: center;
            font-size: 1.3rem;
        }
    }
    .otoñoInvierno{
        border: 5px solid gold;
        .boxIndex{
            margin-top: 20px;
            img{
                width: 180px;
                margin: 30px;
            }
        }
    }
    .textOtoñoInvierno{
        color: white;
        text-align: center;
        margin-top: 15px;
    }
}

@media screen and (min-width:1024px) {
    .container-fluid {
        .carousel-caption {
            margin: auto;
            color: $color-secundario;
    
            .textoC {
                color: black;
                font-size: 1.5rem;
                font-family: 'Staatliches', cursive;
                text-shadow: 0.1em 0.1em 0.1em white;
            }
    
            .parrafoC {
                font-size: 1.2rem;
                color: black;
                font-family: 'Staatliches', cursive;
                text-shadow: 0.1em 0.1em 0.1em white;
            }
        }
        .imgcarru{
            img{
                height: 750px;
                opacity:0.9;
                filter:alpha(opacity=40);
            }
        }
    }
}