/*ESTILOS DE REMERAS*/

.containerBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .boxDestacados{
        text-align: center;
        /*padding: 10%;
        width: 130px;*/
    }
    .boxDestacados img{
        width: 9rem;
        height: 12rem;
    }
    .textBox{
        border: 1px solid black;
        width: 9rem;
        height: 12rem;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}